<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Продукты</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <h1>Добавить продукт</h1>
    <form method="post">
        <label for="title">Название:</label>
        <input type="text" id="title" name="title" required>
        <br>
        <label for="price">Цена:</label>
        <input type="number" id="price" name="price" required>
        <br>
        <button type="submit">Добавить</button>
    </form>

    <h2>Список продуктов</h2>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Название</th>
                <th>Цена</th>
                <th>Отредактирован</th>
                <th>Создан</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
            <tr>
                <td>{{ product["product_id"] }}</td>
                <td>{{ product["prduct_name"] }}</td>
                <td>{{ product["product_price"] }}</td>
                <td>{{ product["updated_at"] }}</td>
                <td>{{ product["created_at"] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>